<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>微博客</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/ucenter.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">

    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
<!--    <script src="{% static 'js/script.js' %}"></script>-->
    <script src="{% static 'js/ucenter.js' %}"></script>
</head>

<body id="single">
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="index.html">微博客</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if account == '' %}
                            <li class="cl-effect-11"><a href="{% url 'blog:page' 'login' %}" data-hover="">登录/注册</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            {% else %}
                            <li class="cl-effect-11">
                                <a id="user" href="#" data-hover="">{{account}}</a>
                                <div id="ucenter" class="ucenter">
                                    <ul style="margin: 0;padding: 0">
                                        <li class="ucenter_li"><a href="javascript:">修改密码</a></li>
                                        <li class="ucenter_li"><a href="javascript:">退出登录</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:ul_post' account %}" data-hover="我的">我的</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:page' 'contact' %}" data-hover="发博">发博</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">{{post.title}}</h1>
                        <div class="entry-meta">
                            <span class="post-date"><a href="#"><time class="entry-date">{{post.created_time}}</time></a></span>
                            <span class="post-author"><a href="#">{{post.author}}</a></span>
                            <span class="comments-link"><a href="#">{{post.reviews}} 评论</a></span>
                            <span class="views-count"><a href="#">{{post.views}} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{post.body|safe}}
                    </div>
                </article>
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表评论</h3>
                    {% if account == '' %}
                    <div id="is_login">
                        请先
                        <a id="login_btn" style="padding: 2px 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color: white; border: 1px solid skyblue; background-color: skyblue" href="{% url 'blog:page' 'login' %}">登录/注册</a>
                        后发表评论 (・ω・)
                    </div>
                    {% else %}
                    <form action="javascript:" id="created_reviews" class="comment-form">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_comment">评论：</label>
                                <textarea name="text" id="id_comment" required></textarea>
                                <input type="hidden" id="post_id" value={{post.id}}>
                                <button type="submit" id="created_reviews_btn" class="comment-btn">发表</button>
                            </div>
                        </div>    <!-- row -->
                    </form>
                    {% endif %}
                    <div class="comment-list-panel">
                        <h3>评论列表，共 <span>{{post.reviews}}</span> 条评论</h3>
                        <ul class="comment-list list-unstyled">
                            {% for review in reviews %}
                            <li class="comment-item">
                                <span class="nickname">{{review.user}}</span>
                                <time class="submit-date">{{review.created_time}}</time>
                                <div class="text">{{review.text}}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </main>
            <aside class="col-md-4">
<!--                <div class="widget widget-content">-->
<!--                    <h3 class="widget-title">文章目录</h3>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">教程特点</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">谁适合这个教程</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">在线预览</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">资源列表</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">获取帮助</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% for post in new_posts %}
                        <li>
                            <a href="{% url 'blog:single' post.id %}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
<!--                <div class="widget widget-archives">-->
<!--                    <h3 class="widget-title">归档</h3>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">2017 年 5 月</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">2017 年 4 月</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">2017 年 3 月</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="widget widget-category">-->
<!--                    <h3 class="widget-title">分类</h3>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Python 教程 <span class="post-count">(11)</span></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="widget widget-tag-cloud">-->
<!--                    <h3 class="widget-title">标签云</h3>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">Django</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Python</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Java</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">笔记</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">文档</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">AngularJS</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">CSS</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">JavaScript</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Snippet</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">jQuery</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="rss">-->
<!--                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>-->
<!--                </div>-->
            </aside>
        </div>
    </div>
</div>
<div id="change_password" class="change_password">
    <p>原密码</p>
    <input type="password" name="old_password" class="password">
    <p>新密码</p>
    <input type="password" name="new_password" class="password">
    <p>确认密码</p>
    <input type="password" name="replace_password" class="password">
    <p id="change_password_massage" class="tips"></p>
    <input type="submit" id="change_password_btn" class="change_password_btn" value="提交">
</div>
<div id="allb" class="allb"></div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright"><a href="http://www.cssmoban.com/" target="_blank" title=""></a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>

</body>

<script>
    $(function () {
        $('#created_reviews_btn').on('click', function (e) {
            // e.preventDefault();
            let text = $('#id_comment').val();
            if (text != '') {
                console.log({'text': text});
                $.ajax({
                    url: '/c_review/' + $('#post_id').val() + '/',
                    type: 'post',
                    data: {'text': text},
                    dataType: 'json',
                    success: function (res) {
                        res = JSON.parse(res);
                        console.log(res);
                        if (res.status == 200) {
                            window.location.reload();
                        }
                    }
                });
            }
        });
    })
</script>
</html>
